
<div id='basePage'>
    <nav id='navBar'>
        <%= image_tag('effect_update_trans.png', alt:"preview", class:"logo") %>
        <%= link_to root_path do%>
            <p class = 'navLink selected'>Home</p>
        <% end%>
        <%= link_to  about_path do%>
            <p class = 'navLink'>About Me</p>
        <% end%>
        <% if user_signed_in?%>
            <%= link_to new_post_path do%>  
                 <p class = 'navLink'>Create Post</p>
            <% end%>
        <% else%>
            <%= button_to 'Create Post', '/auth/google_oauth2', class: 'navLink' %>
        <% end%>
    </nav>
    <div id='mainArea'>
        <% @posts.each do |p|%>
            <%= link_to post_path(p) do %>
                <div class='post'>
                    <% if p.preview_image.attached? %>
                        <%= image_tag(p.preview_image, alt:"preview", class:"previewImg") %>
                    <% else %>
                        <p>No preview image available</p>
                    <% end %>
                    <div>
                        <h1><%= p.title%></h1>
                        <p class = 'postText'><%= p.body[0,80]%></p>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
</div>