<div id='basePage'>
    <nav id='navBar'>
        <%= image_tag('effect_update_trans.png', alt:"preview", class:"logo") %>
        <%= link_to root_path do%>
            <p class = 'navLink'>Home</p>
        <% end%>
        <%= link_to  about_path do%>
            <p class = 'navLink'>About Me</p>
        <% end%>
        <% if user_signed_in?%>
            <%= link_to new_post_path do%>  
                 <p class = 'navLink'>Create Post</p>
            <% end%> 
        <% else%>
            <%= button_to 'Enter Ben Mode', '/auth/google_oauth2', class: 'navLink' %>
        <% end%>
    </nav>
    <div id='mainArea'>
        <div class='postPageHeader'>
            <% if @post.preview_image.attached? %>
                <%= image_tag(@post.preview_image, alt:"preview", class:"previewImg") %>
            <% else %>
                <p>No preview image available</p>
            <% end %>
            <h1><%= @post.title%></h1>
        </div>
        
        <div>
            <p class = 'postText'><%= @post.body%></p>
        </div>





        <div>
    <h1>Edit the post a New Post</h1>

    <%= form_with(model: @post, local: true, html: { multipart: true }) do |form| %>
      <% if @post.errors.any? %>
        <div class="errors">
          <h2>Errors:</h2>
          <ul>
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div>
        <%= form.label :title %>
        <%= form.text_field :title %>
      </div>

      <div>
        <%= form.label :body %>
        <%= form.text_area :body %>
      </div>

      <div>
        <%= form.label :preview_image, "Preview Image" %>
        <%= form.file_field :preview_image %>
      </div>

      <div>
        <%= form.submit "Update Post" %>
      </div>
    <% end %>

    <%= link_to 'Back to posts', posts_path %>


  </div>
    </div>

    
</div>