<div id='basePage'>
  <nav id='navBar' >
        <div class='container-fluid d-grid gap-3 align-items-center'>
            <header class='d-flex flex-wrap justify-content-between py-3 mb-4 border-bottom'>
                <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    <%= image_tag('effect_update_trans.png', alt:"preview", class:"logo bi me-2") %>
                </a>
                <div class ="nav nav-pills">
                    <%= link_to root_path, class:'nav-link d-flex justify-content-center align-items-center px-3' do%>
                        Home
                    <% end%>
                    <%= link_to  about_path, class:'nav-link d-flex justify-content-center align-items-center px-3' do%>
                        About Me
                    <% end%>
                    <% if user_signed_in?%>
                        <%= link_to new_post_path, class:'nav-link active d-flex justify-content-center align-items-center px-3 ' do%>  
                            Create Post
                        <% end%>
                    <% else%>
                        <div class = 'nav-link d-flex justify-content-center align-items-center px-3'>
                            <%= button_to 'Enter Ben Mode', '/auth/google_oauth2' %>
                        </div>
                    <% end%>
                </div>
            </header>
        </div>
    </nav>
  <div id='mainArea'>
    <h1>Create a New Post</h1>

    <%= form_with(model: @post, local: true, html: { multipart: true }) do |form| %>
      <% if @post.errors.any? %>
        <div class="errors">
          <h2>Errors:</h2>
          <ul>
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div>
        <%= form.label :title %>
        <%= form.text_field :title %>
      </div>

      <div>
        <%= form.label :body %>
        <%= form.text_area :body %>
      </div>

      <div>
        <%= form.label :preview_image, "Preview Image" %>
        <%= form.file_field :preview_image %>
      </div>

      <div>
        <%= form.submit "Create Post" %>
      </div>
    <% end %>

    <%= link_to 'Back to posts', root_path %>


  </div>
</div>